[submodule "ModelSaber.Main"]
	path = ModelSaber.Main
	url = git@github.com:ModelSaber/ModelSaber.Main.git
[submodule "ModelSaber.API"]
	path = ModelSaber.API
	url = git@github.com:ModelSaber/ModelSaber.API.git
[submodule "ModelSaber.Updater"]
	path = ModelSaber.Updater
	url = git@github.com:ModelSaber/ModelSaber.Updater.git
